root = true

[*]
# For all files I save
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{bat,sh}]
# Different tab size for os scripts
indent_size = 2
