name: Build and Publish

on:
  push:
    tags:
      - 'v*' # Build when version tag is created

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22.0
        env:
          # Flags for C++23 ([[assume]])
          CIBW_ENVIRONMENT_LINUX: "CXXFLAGS='-std=c++23 -O3' LDFLAGS='-static-libstdc++'"
          CIBW_ENVIRONMENT_WINDOWS: "CXXFLAGS='/std:c++latest /O2'"
          # Skip old versions and specific builds
          CIBW_SKIP: "cp36-* cp37-* pp* *-musllinux_*"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  publish:
    name: Publish to PyPI
    needs: [build_wheels] # Wait for termination of all builds
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' # Stable working version to pack archive

      - name: Build sdist
        run: |
          pip install build
          python -m build --sdist

      - name: Download wheels
        uses: actions/download-artifact@v4
        with:
          pattern: cibw-wheels-*
          merge-multiple: true
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
